%html
  %head
    %script{:type => 'text/javascript', :src => 'js/jquery.1.5.1.min.js'}
    %title B/R Ping Pong Players
  %body.bp
    -#%a{:href => '/new_user'}New Player
    -#%a{:href => '/new_game'}New Game
    - if request.path_info != '/'
      %a{:href => '/'}Home
    = yield
