#container.container_16
  - if @current_user
    - if request.path_info != '/'
      .grid_2
        %a{:href => '/'}Home
      .grid_4
        %a{:href => '/new_game'}Add Game Results
    - else
      %div{:class => ['grid_4 prefix_2']}
        %a{:href => '/new_game'}Add Game Results
    .grid_4
      %a{:href => '/new_doubles_game'}Add Doubles Game Results
    .grid_4
      %a{:href => '/update_password'}Change password
    .grid_2
      %a{:href => '/log_out'}Log Out
  - else
    %div{:class => ['grid_2 prefix_14']}
      %a{:href => '/log_in'}Log In
