%form{ :action => "/new_user", :method => "post"}
  %fieldset
    %label{:for => "name"} Name:
    %input{:type => "text", :name => "name", :class => "text"}
  %input{:type => "submit", :value => "Send", :class => "button"}
