%form{ :action => "/new_user", :method => "post"}
  %fieldset
    %label{:for => "name"} Name:
    %input{:type => "text", :name => "name", :class => "text"}
    %label{:for => "email"} Email:
    %input{:type => "text", :name => "email", :class => "text"}
    %label{:for => "department"} Department:
    %input{:type => "text", :name => "department", :class => "text"}
  %input{:type => "submit", :value => "Send", :class => "button"}
