%html
  %head
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/css/960.css'}
    %link{:type => 'text/css', :rel => 'stylesheet', :href => '/css/stylesheet.css'}
  %body
    #container.container_16
      %img.displayed{:src => 'images/TTTpp_Logo.png'}
      %h1.center.orange Are you ready?
      %h3.center Coming Soon
