%form{ :action => "/update_password", :method => "post"}
  %fieldset
    %label{:for => "password"} Password:
    %input{:type => "password", :name => "password", :class => "text"}
  %input{:type => "submit", :value => "Update", :class => "button"}
